.darkShadow{
    box-shadow: 2px 2px 10px 2px rgba(226, 11, 11, 0.956);
    
}
.lightShadow{
    box-shadow: 2px 2px 10px 2px rgba(25, 201, 66, 0.828);
}

body{
    background-color: rgb(216, 240, 240);
}

